*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sudoku-game {
    display: flex;
    flex-wrap: wrap;
}

.sudoku-segment {
    border: 1px solid gray;
    width: calc(100%/3);
    height: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
}

.sudoku-cell {
    text-align: center;
    font-size: 100%;
    color: #000 ;
    width: calc(100%/3);
    height: calc(100%/3);
    border: none;
    outline: none;
    background: #fff;
    border: 0.2px solid #B8B8B8;
}

.sudoku-cell.start-cell {
    color: #505050;
}

.sudoku-cell.supported-cell {
    background: #F5F5F5;
}

.sudoku-cell.selected-cell {
    background: #E0ECF8;
}

.sudoku-cell.important-cell {
    background: #C8C8C8;
}

.sudoku-cell.start-cell.error {
    background: #F8E0E0;
}

.supported-cell.selected-cell {
    color: #000;
}

.sudoku-cell.error{
    background: #F8E0E0;
}

.selected-cell.error{
    color: #DF0101;
    background: #E0ECF8;
}